<li class="control-group nested-fields">
  <div class="controls">
    <%= f.fields_for :product do |p| %>
        <%= p.collection_select :id, Product.order(:name),:id,:name, include_blank: true %>
    <% end %>

    <%= f.label :quantity, "Quantity:" %>
    <%= f.number_field :quantity, class: "size-5" %> <span><i class="fa fa-database">Crates</i></span>

    <%= link_to_remove_association "remove", f %>
  </div>
</li>