%h1 Listing Invoices
.table-responsive
  %table#invoices.table.table-bordered.table-hover
    %thead
      %tr
        %th Product
        %th Customer name
        %th Customer phone
        %th Invoice number
        %th Customer address
        %th Actions
    %tbody
      - @invoices.each do |invoice|
        %tr
          %td= invoice.product.name
          %td= invoice.customer_name
          %td= invoice.customer_phone
          %td= link_to invoice.invoice_number, invoice, title: "View Invoice"
          %td= invoice.customer_address
          %td
            = link_to(('<span class="fa fa-pencil-square-o"></span>').html_safe, edit_invoice_path(invoice), title: "Edit Invoice")
            = link_to(('<span class="fa fa-trash"></span>').html_safe, invoice,
            method: :delete, class: "text-danger", title: "Delete Invoice", data: { confirm: 'Are you sure?' })
= link_to(('<span class="fa fa-plus"></span> Create New Invoice').html_safe, new_invoice_path, class: "text-success")