.table-responsive.show-tables
  %table.table.table-bordered
    %thead
      %tr
        %th{:colspan => "2"}= "Invoice for: #{@invoice.customer_name}"
    %tbody
      %tr
        %td
          %strong Invoice number:
        %td= @invoice.invoice_number
      %tr
        %td
          %strong Customer phone:
        %td= @invoice.customer_phone
      %tr
        %td
          %strong Customer address:
        %td= @invoice.customer_address
      %tr
        %td
          %strong Purchases:
        %td
          - @invoice.purchases.each do |purchase|
            .row
              .col-sm-4
                = purchase.product.name
              .col-sm-3
                = purchase.quantity
                %span
                  %i.fa.fa-database Crates
            %br
= link_to 'Edit', edit_invoice_path(@invoice)
|
\#{link_to 'Back', invoices_path}
