%h1 Listing releases
.table-responsive
  %table.table.table-bordered.table-hover#releases
    %thead
      %tr
        %th Buyer
        %th Product
        %th Quantity
        %th Confirmation code
        %th Released By

    %tbody
      - @releases.each do |release|
        %tr
          %td= release.purchase.invoice.customer_name
          %td= release.purchase.product.name
          %td= release.purchase.product.quantity
          %td= release.confirmation_code
          %td= release.user.name
  %br
