<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @release.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @release.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @release.user %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @release.invoice_number %>
</p>

<p>
  <strong>Customer number:</strong>
  <%= @release.customer_number %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
