%p
  %b User:
  = @release.user
%p
  %b Purchase:
  = @release.purchase
%p
  %b Confirmation code:
  = @release.confirmation_code

= link_to 'Edit', edit_release_path(@release)
\|
= link_to 'Back', releases_path
