%p#notice= notice
%h1 Listing Consignments
%table
  %thead
    %tr
      %th Product
      %th Quantity
      %th User
      %th{:colspan => "3"}
  %tbody
    - @consignments.each do |consignment|
      %tr
        %td= consignment.product
        %td= consignment.quantity
        %td= consignment.user
        %td= link_to 'Show', consignment
        %td= link_to 'Edit', edit_consignment_path(consignment)
        %td= link_to 'Destroy', consignment, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Consignment', new_consignment_path
