<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @consignment.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @consignment.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @consignment.user %>
</p>

<%= link_to 'Edit', edit_consignment_path(@consignment) %> |
<%= link_to 'Back', consignments_path %>
