%h1 Listing Products
.table-responsive
  %table#products.table.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Quantity
        %th Added By
        %th Actions
    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= product.quantity
          %td= product.user.name
          %td= link_to 'Delete Product', product, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' }
= link_to(raw('<span class="glyphicon glyphicon-plus"></span> Add New Product'), new_product_path)

