!!!
%html
  %head
    %title Muscle
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    = render 'layouts/header'
    .row
      = unless !user_signed_in?
        .sidebar_toggle#sidebar
          .sidebar
            = render 'layouts/sidebar'
      .content_wrapper
        = yield